@page "/fetchdata"
@using Sample.Shared
@inject HttpClient Http

<PageTitle>Liste de client</PageTitle>

<h1>Liste de client</h1>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ClientGetDto[]? clients;
    // TODO : passer par un base address
    protected override async Task OnInitializedAsync() => clients = await Http.GetFromJsonAsync<ClientGetDto[]>("http://localhost:5001/api/Clients");
}
